config.log
config.status
Makefile
BBarolo
*.o
*.DS_Store
*.swp/
*.swp
*.qmake.stash
src/build/
*.par
output/
*.pyc
*.dylib*
*.a
updateall.sh
BBarolo.tar.gz
*~
BBarolo-*
BBarolo_MPI
BBarolo_MPI-*
*.so
*.so.*
*.egg-info