<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<true/>
					<key>File References</key>
					<array>
						<dict>
							<key>fullPath</key>
							<string>/Users/enrico.diteodoro/Dropbox/Codex/Barolo/bin/param.par</string>
							<key>identifier</key>
							<string>76931676-4C8A-43C2-967C-F954E3615C39</string>
							<key>isInternal</key>
							<false/>
						</dict>
					</array>
				</dict>
				<key>Minimum Application Version</key>
				<string>7</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-06T10:03:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								I7RMCqhnlDcF
								v8dLHxbEAQ==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>rw_common/images/Bbarolo_ico</key>
							<dict>
								<key>Digest</key>
								<data>
								vnu2sLPIh9I2
								T8fcmojuTQ==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								ODUJQNmKDP3f
								pyuJDqof4A==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								GB46iqAK7Pfr
								LEmBhixmRw==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-06T10:03:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kbgov94P/aYZ
								u88CkygDOQ==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>downloads</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-06T10:03:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cmGjW0ydybSj
								AfVYkUuYag==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>downloads/binaries</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page3 - file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-06T10:03:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								91ld28lL4hnE
								f5+Zyuj97w==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page3</string>
						<key>SiteRoot</key>
						<string>downloads/source</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page4 - file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-06T10:03:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3X47A6K37Ede
								xK8mVgcO1g==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>documentation</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page5 - file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-06T10:03:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Atq0R+mlcLsm
								2Wbg2oaLVA==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>downloads/examples</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page6 - file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-06T10:03:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WsQ9H1P5jKMT
								hfyZGRnalw==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page6</string>
						<key>SiteRoot</key>
						<string>bugs</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:reason - file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-06T10:03:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X9PTs4r7lGHq
								ts29b5c6dg==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>function.js</key>
							<dict>
								<key>Digest</key>
								<data>
								gxZCbdgRBJ1U
								RN48vgNBhQ==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>ie.js</key>
							<dict>
								<key>Digest</key>
								<data>
								0gFatA53KglU
								Pq2qGQa9Gw==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/denim.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fOMOWaf6Z0tP
								8tu7l5MJvQ==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/editable_images/img1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tvcX9sY5TfWq
								Ph8rNsLCcg==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/editable_images/img2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SRqUH6wAWRqP
								RBSh2OlpsQ==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/editable_images/img3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YR2kc9S1aYqG
								O+uoEHhGbA==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/editable_images/img4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v5ndE2ZsSlA9
								c/awrdR1Rw==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/editable_images/img5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RJWYCP9j6NuG
								xAMaTMus6w==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/linen.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Pu3jzRQPNRPK
								EMUd1z8kMg==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/paper.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Rpw4fnNjZxDI
								dByu1HcnVw==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>images/wood.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wkAKXBxaf8Fj
								OH9SljW0gQ==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:reason</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/reason</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGqqtYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QJgcIExQVHyQ0
				NTY3O0FHSElNUVpbXF1gZmdrc3uDhoqPlJmcoKSoVSRu
				dWxs0wkKCwwPEldOUy5rZXlzWk5TLm9iamVjdHNWJGNs
				YXNzog0OgAKAA6IQEYAEgB6AJVhkYXRhYmFzZVRub2Rl
				1QsWFxgZGhscHR5eSWRlbnRpZmllciBNYXBYUGFnZSBN
				YXBYTm9kZSBNYXBZUmVzb3VyY2VzgCSAGYAjgBqABdIK
				CyAjoiEigAaAEYAY2AslJicoKSorLC0tLzAxMjNcUHVi
				bGlzaGVkVVJMXVB1Ymxpc2hlZERhdGVfEA9DaGFuZ2Vk
				U3RhdHVzZXNUTmFtZVpJZGVudGlmaWVyWVRpbWVTdGFt
				cFlGaWxlVG9rZW6AEIAAgACADIAIgAeACoAJXxAkNDEz
				MzYzQUQtOEFDQy00RkI5LTk4RDUtNEE0ODIwQjY2OUU5
				XxAPQmJhcm9sb19pY28ucG5nXxAkNTYzMkUxQjQtNDBD
				Ri00Rjc3LUIwQkQtMjcwNzNDNDZBQkJF0jgLOTpXTlMu
				dGltZSNBvaZY5Ab614AL0jw9Pj9aJGNsYXNzbmFtZVgk
				Y2xhc3Nlc1ZOU0RhdGWiPkBYTlNPYmplY3TTCQoLQkRG
				oUOADaFFgA6AD18QJGZpbGU6Ly8vVXNlcnMvZWR0L0dp
				dEh1Yi9CQi9CYmFyb2xvLwjSPD1KS18QE05TTXV0YWJs
				ZURpY3Rpb25hcnmjSkxAXE5TRGljdGlvbmFyedI8PU5P
				XlJXU2l0ZVJlc291cmNlolBAXlJXU2l0ZVJlc291cmNl
				2AslJicoKSorLC0tVVZXWFmAEIAAgACAFoATgBKAFYAU
				XxAkM0I3MDU1MzQtMEI4RC00N0ZFLUI0ODktODA1QUM3
				RDkwNkMzWXBhcmFtLnBhcl8QJDc2OTMxNjc2LTRDOEEt
				NDNDMi05NjdDLUY5NTRFMzYxNUMzOdI4C146I0G9pljk
				Bz3AgAvTCQoLYWNGoWKAF6FFgA6AD18QJGZpbGU6Ly8v
				VXNlcnMvZWR0L0dpdEh1Yi9CQi9CYmFyb2xvL9I8PWhp
				XE5TTXV0YWJsZVNldKNoakBVTlNTZXTTCQoLbG9GojFX
				gAeAEqIhIoAGgBGAD9MJCgt0d0aiMVeAB4ASonh5gBuA
				IIAP1At8fX5/gBEhWENoaWxkcmVuVlBhcmVudF8QElJl
				cHJlc2VudGVkIE9iamVjdIAigByAHoAG0goLhIWggB3S
				PD2HiF5OU011dGFibGVBcnJheaOHiUBXTlNBcnJhedQL
				fH1+f4wtLYAigB+AAIAA0goLkIWieHmAG4AggB3UC3x9
				fn+WESKAIoAhgB6AEdIKC5qFoIAd0jw9nZ5fEBBSV1Nv
				dXJjZUxpc3ROb2Rlop9AXxAQUldTb3VyY2VMaXN0Tm9k
				ZdMJCguhokagoIAP0jw9paZfEBJSV1Jlc291cmNlRGF0
				YWJhc2Wip0BfEBJSV1Jlc291cmNlRGF0YWJhc2XSPD1M
				qaJMQF8QD05TS2V5ZWRBcmNoaXZlctGsrVRyb290gAEA
				CAARABoAIwAtADIANwBgAGYAbQB1AIAAhwCKAIwAjgCR
				AJMAlQCXAKAApQCwAL8AyADRANsA3QDfAOEA4wDlAOoA
				7QDvAPEA8wEEAREBHwExATYBQQFLAVUBVwFZAVsBXQFf
				AWEBYwFlAYwBngHFAcoB0gHbAd0B4gHtAfYB/QIAAgkC
				EAISAhQCFgIYAhoCQQJCAkcCXQJhAm4CcwKCAoUClAKl
				AqcCqQKrAq0CrwKxArMCtQLcAuYDDQMSAxsDHQMkAyYD
				KAMqAywDLgNVA1oDZwNrA3EDeAN7A30DfwOCA4QDhgOI
				A48DkgOUA5YDmQObA50DnwOoA7EDuAPNA88D0QPTA9UD
				2gPbA90D4gPxA/UD/QQGBAgECgQMBA4EEwQWBBgEGgQc
				BCUEJwQpBCsELQQyBDMENQQ6BE0EUARjBGoEawRsBG4E
				cwSIBIsEoASlBKgEugS9BMIAAAAAAAACAQAAAAAAAACu
				AAAAAAAAAAAAAAAAAAAExA==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BannerUsed</key>
					<false/>
					<key>BaseURL</key>
					<string>http://editeodoro.github.io/Bbarolo/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2015 EdT</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DefaultExportPath</key>
					<string>/Users/enrico.diteodoro/GitHub/bbarolo-pages</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>enrico.diteodoro@unibo.it</string>
					<key>FavIconUsed</key>
					<false/>
					<key>GlobalPluginData</key>
					<dict/>
					<key>LogoData</key>
					<data>
					iVBORw0KGgoAAAANSUhEUgAAAHIAAABsCAYA
					AAC2AeaWAAAC0WlDQ1BJQ0MgUHJvZmlsZQAA
					KJGNlM9LFGEYx7+zjRgoQWBme4ihQ0ioTBZl
					ROWuv9i0bVl/lBLE7Oy7u5Ozs9PM7JoiEV46
					ZtE9Kg8e+gM8eOiUl8LALALpblFEgpeS7Xln
					xt0R7ccLM/N5nx/f53nf4X2BGlkxTT0kAXnD
					sZJ9Uen66JhU+xEhHEEdwqhTVNuMJBIDoMFj
					sWtsvofAvyute/v/OurStpoHhP1A6Eea2Sqw
					7xfZC1lqBBC5XsOEYzrE9zhbnv0x55TH8659
					KNlFvEh8QDUtHv+auEPNKWmgRiRuyQZiUgHO
					60XV7+cgPfXMGB6k73Hq6S6ze3wWZtJKdz9x
					G/HnNOvu4ZrE8xmtN0bcTM9axuod9lg4oTmx
					IY9DI4YeH/C5yUjFr/qaoulEk9v6dmmwZ9t+
					S7mcIA4TJ8cL/TymkXI7p3JD1zwW9KlcV9zn
					d1Yxyeseo5g5U3f/F/UWeoVR6GDQYNDbgIQk
					+hBFK0xYKCBDHo0iNLIyN8YitjG+Z6SORIAl
					8q9TzrqbcxtFyuZZI4jGMdNSUZDkD/JXeVV+
					Ks/JX2bDxeaqZ8a6qanLD76TLq+8ret7/Z48
					fZXqRsirI0vWfGVNdqDTQHcZYzZcVeI12P34
					ZmCVLFCpFSlXadytVHJ9Nr0jgWp/2j2KXZpe
					bKrWWhUXbqzUL03v2KvCrlWxyqp2zqtxwXwm
					HhVPijGxQzwHSbwkdooXxW6anRcHKhnDpKJh
					wlWyoVCWgUnymjv+mRcL76y5o6GPGczSVImf
					/4RVyGg6CxzRf7j/c/B7xaOxIvDCBg6frto2
					ku4dIjQuV23OFeDCN7oP3lZtzXQeDj0BFs6o
					RavkSwvCG4pmdxw+6SqYk5aWzTlSuyyflSJ0
					JTEpZqhtLZKi65LrsiWL2cwqsXQb7Mypdk+l
					nnal5lO5vEHnr/YRsPWwXP75rFzeek49rAEv
					9d/AvP1FThgxSQAAAAlwSFlzAAALEwAACxMB
					AJqcGAAAIABJREFUeJzdfVusHVeZ5rdW1a7a
					97PP8ck5dmzHji9cjJO47XhMErfA7gRMGjIi
					L0w6Q6NBPYNGwuruFxiJEUITiQeElOmI9CAE
					4oEgQIIHQoPaTBwmDmlIYjuZlpO0E1/GiUNy
					7HPd5+xL3daah6p/7VW1L6f2xdf/qLy3d91W
					ra/+f/3rvy3meZ4UQsBxHHieB8dx4Ps+PM9D
					EASQUkIIgVER57zrb5xztRmGAcYYDNOAaZgw
					DAOcc5imGdvPGAPnHIyxkbXxRiRTSgnHceC6
					Lur1OhqNBur1OlzXheu6EEKMFEgi6nwCQAeR
					gNI30zSRyWTAOUcmk4FhGOqTQL5SgNI1k9e+
					nl4g0/d9BEGAer2O5eVlLC4uYnl5GY1GA67r
					wvM8SClHcrPkQxOQxFU6IJlMBowxZDIZmKap
					NgLVsiy1Tz+GOrcT5/fbzuSn/vIlJYEuVa4F
					uKbv+2g2m2g0GlhcXMT8/DwWFxdRrVYVmKPi
					SP0B9U7SO18XnZxzWJaluI8AzlgZZMwMbNuG
					ZVmwbRu2bYf7ouN00TsIETCxdhrhbwaPxH50
					D729hmHEzr9awJpBEMDzPDQaDdRqNczNXMb7
					r76FWq2GeqMO4thhKfkwEgDLGGrjGRPMNmHY
					GXBNXAZBgJmZmbbOIi60LEtxp86lpmnGuCdN
					+7LZLGzbRi6XQzabRTabRbFYVNfSQUq+cCQt
					SGLQb1LKqzKOmwAQBIEaIxfOvYtL3/nfEBCQ
					CEUqx2hEq04JIQvieQ+AKNqQhQxEycJls4kj
					F16B5J0BSQI1DBd2Is45SqUSJiYmMDk5ienp
					aWzcuBG7d+/G1q1b1UsVE/MZExkzPiQIIa7o
					OG4GQaC0VM/z4DouZOzvylPyLmylCbbShJyR
					ABqQPIRZ8nADZ0AELI3fugjsNBYPSkEQYGlp
					CUtLSzh//nxsXz6fx+23346dO3figQcewJYt
					W5Rk0DcCOJPJXDFATQBKM/U8D67nqY6VaO/k
					q0ESQAABAUT/Ru0RgBSt9kiDAQYD41yJMPok
					0sHuRb06tdv5tVoNp06dwmuvvYaf/exn2LJl
					C+6//3588pOfxPj4uBq7SWT7vq+ApXaSuB6W
					TGokgUn/vxYAEtG9BQSCHi+VDAQQABICyHAw
					jUsJmCSwXe+ZUjPXr6W/PABw9uxZnD17Fj/6
					0Y/w0EMP4XOf+xxKpRLy+bwacwlMmjoBo1GI
					zKHOvoIko62TvqxLDHW0FwAckIYBxts5cxTU
					ibt10U73rNVq+OlPf4rf/va3eOSRR3Do0CEU
					CgXk83nk83n4gY+syCruBIYH87oFEkAkVKnj
					Eh3YAWHJEAJqMMDgPcEcpNO6ca0OsH7Pubk5
					PPnkk/jjH/+Iv/27v8Xkmkm4rotCoQARhNJP
					SolMJgNgODAHnzV3ITbAXydKcp3Ufm+BKONb
					IAEhIYWA9AIg6ih9yFBnRvuG2Xpdi+4ppcTx
					48fx93/39zhx4gTm5+extLSE5eVl1Go1NJvN
					mAVtUOPLSIBMwtLvxsHAuwCcRnNOwAkEAAIJ
					6YdgAu2dPQpKAyyBMzs7i8ceewx/+MMfMDc3
					F7OgkYl0GDCHBpI6nABhYOB9/jF1XhxQ/frt
					lBwn43skABmgDcwrSUlQk4A6joPHH38cL774
					IhYWFhRnEpie5w1s2x4KSOpuHoE3CIidQOUa
					sN2Fb5r2hST90Rv9V6MkoEA4M2g2m3jiiSdw
					6tQpBaYuYn3fH4grRypadUCMlH/6sfQ9/GxB
					O1ibIgoAIBKztO8qGrU7cWez2cQ//q9/xOXL
					l7G4uKjAJNt2EAR9gzkwkK3xMA6iYXAYJgc3
					WarNMKPjDRaea3AYvAVjS6/WOp8n/t/Wtg6/
					CABCtlmA+t0GoU7i9vKly/jhD3+IhYUFVKtV
					rKysxDxO/YrYoacfBKRRtrHtSw+iWCgil8vB
					tizwHlYLKSUCx4W73ICz0oC3Ukd9toql83/C
					0tvvIViug0sJgxnRfTqPh+3tCYlzjgnkwBmD
					wRg4C9tZ3LQOxYkxZXXRvSRJB3uj0VAd7bpu
					eP2k8b8PrkkaEI4fP459+/Zh7969yoRHm+/7
					yGQyqefDI5tHcsvEbX+xG2vWrMHY2Bjy+TzM
					TPfLS9GuruuemPffvIDT//wvWDr6PHDxAiD6
					GzMYGEosAxMcpmQwuYGM5LDmBTbt3YpyuYxC
					oQA7a8PKWOCRmQ9AvE0igAgEFhcXcfr0abz5
					5puYm5trs/GmBTRpdfrlL3+J7du3K3ecbvUh
					Y3saM95QQOqaJWMM+XwehUIBxWIRhUJBTXR7
					PZSuohOY9Xod5g4TuekKnA+twT/9j39F4PmQ
					bgDFmxydzT6qbQCXDIZkyMCABQMZxpGZa4DN
					N1HesAFjY2MoFArIZrPKf6grJlJKBEGAIAgw
					OTmJTZs24cCBA5iZmcFzzz2HM2fOqHP6AVR/
					CS5evIgTJ07gvvvuCyVZJCl0Y3saGolopUaR
					5Z98emR+6kRJ+a9zJ/nzfN9HsVgE4xw8YwKc
					QbhBzHDeS+SaksEERwYcVsBhcwMZbsB74z2U
					7vszTExMoFgsIl/II2NmFFcmpQQ5FEjkVioV
					bN68Ga+//jp+85vfYGlpqc1Ul4bouOeeew67
					du3C8vIycrkc8vm8cpTrBvZeNFITHVnzk971
					TtRNXFAHep6HfD6PXC7XUjY4B7MA5soQTAOR
					VhrdP3EtLhlMMGTAYYPDlhyWMMAuLsBmBgqF
					AiqVCkqlUszu2UlKkM/WdV0VUVEoFLBlyxZ8
					73vfw+XLl9W5acDUwXnnnXdw6dIl5PN5NBoN
					NBoNZWQPgiAWedCNrjtbK70MJFZs227bzzKG
					MsH1Is4ZDBGCaYIjIw1Y0oDtc9RefQeFHR9E
					qVTC2NgYstmsEmMEgh5F6Pu+2gjIWr2GQqGA
					w4cP44knnsDs7GzMeJ5WzAoh8PLLL2Nqagq1
					eg3FZlFpr5ZlpbrOdQckUa/wCMYYmMkhPWWU
					Sx4BgIHJ0KhggMBksMCQCTiar1+ElbGQy+Xa
					xnQS+yRiSeFRPlvXRaPRQK6Wg22FY9pff+Gv
					8Q//8x8QBEFqMHWuPH36NA4ePIhmo6lMdp7n
					pdZer1sgiUikkHiNjUU8GiG7hBTpdlwClEeA
					On+aiwVuEUfSsNAGZjRW+r4PP/CRy+VUbI9l
					Wbjrzruwe/dunDhxom8TG9liidOTJjvi2l7i
					9boHshcxg0P26DTdiK8DygHI+SbcuWWwtWuV
					ONeBBOIKGX2n8dKzPDVNIE559NFHcfLkyTan
					dhqubDabmJ2dxfj4uFKsiCODIFh1jBy5G+tK
					U5t46dPawrR/F9+82HZd3YqjB0jrwVWWZSGb
					zYZTrVIR5XIZY2Nj2LBhA9avX98WD5uWLl68
					GBOrah6bwlx3Q3MkgAjIwbwazuxym2G7961a
					WrmuSYog1GybzSZ27dqFixcvtg8DKbTYarUa
					C4TzfR+Bnw7IG44j22gI+7dbaw7knyRFjAKm
					aazM5/PYuXPnwHbZer0eE6e+76vxcTW68YEc
					AklRaw5sENcjzEn02raNtdGYqx+XlhzHUQCS
					0TwWENfjhbvxgRyCI4XrR4aGeP5G6luzVpoD
					GbunpqZi+9MQAUR5NkmDhH5MN7rxgRyC7FI+
					NAeyIYKeEnkrY2NjAAbzedq2HQOxr3b0fbdr
					TG0P2MfzxjyonMEaK8RS+YYBk85fWloa6BpA
					C0id0gJ6wwHZToPH4eQnyir5ZpioAX26QTbX
					QYi8MPqYnbZdNz6QKXCMR/hFfwyY+PBtbZP6
					gZqgKSODAEn3vuWWWwDEx+q0gF73QFJKX6eQ
					Q/2zH2JgMEs53PLhzUrrHBRI0izJ4vPyyy8P
					1K5MJoM1a9Yoh4EuKdKAeV0DudqgL6Vc1QMC
					tMcXMc4wtmW98vnRGDdMOwnMEydPDHSNSqWi
					rEZ6nqXuFuxF1yWQumfe87y2fQpcKcFWzcFl
					6pMBYDzcbtt/lwJyUI5Mhqi88sorWJhfiO1P
					Sxs3blScSL5RcrCnUcSuKxOd7vsjB67jOB0D
					fwGsGsfDZMsUyyQDWJg+zm0TH/4PB2HZVpuh
					vN+2Eoie5+E73/lO1yGgF3HOsWPHjljcjmVZ
					sczoqwpkL3NS8oF6eRbq9TpqtRpWVlZQq9U6
					giiFAPwUyX+cgQUhoNwIo2TX37MTlek1sC1b
					ddQgzymEgOu6cBwHR44cwalTp9T+tGAyxrBu
					3TqUSqVY8BWJWUp7X41GCqTuQTcMo2PtgU6R
					ajQWksG4Xq9jYWEB8/PzqFarbRwZZsKmEFtG
					5GI2o1DnyCH9Z//lIdVp/Zrn9DaTxHjnnXfw
					7W9/u7PUWIUYY9i9ezey2azycVLMTrJOQS8a
					Ckg9QV0IgVqthlqtBs45hBCwLKt1LEWnRalU
					eloZ2RdJpNZqNSwsLODy5ctYWFhof7uDoKsz
					WSfGWlMNIIxt3fbpP8f6XR9Ub34/ZjRdqfE8
					D81mE5cuXcKXvvQlzM7OquPSgskYw9atW7F+
					/XqVO1koFGKcqRe16EUj40gpw1TsxcVFBEEA
					x3FioXxJj3tSbSdubDabWFlZwcLCgspa0s+B
					LzrmRsaIR5zIyKnMwRlgrSljz5c/G9NWdYet
					3vHJ9gItiRMEQRh7+/77+PKXv4wLFy602UXT
					gGnbNvbt2xcLN6HsZr2NV0W0EkcGIsDCwoIS
					OfRGAe3jYae32/d9OI4Dx3GwsrKC5eVlzM/P
					tzhSCDBXaEl2XTrI0HaxcNIhGcDsDO75b/8R
					xbGSAo/CN2LPk7B1Jl84itn51a9+hW9961tY
					Xl6OAadfrxeIpmniwIEDKoqvWCyiVCopMC27
					NQ1JM4YPDGTYoQzQgJydnVWhfLZttzWAxGgy
					zJDq3pF3vNFoKDBrF2dDLtQzqtKExHAAjIXp
					dRz4yBc+hTUf3KgCqBzH6aqY6UmqgQgQ+K12
					Pv/88/jJT36Cl156qQ28fkTqRz/6UWzevBnl
					cllFGBCQtm3HFLGrpuxISIggwOXLl1GtVpW2
					lYze7vSW06cKN3RcOH9agHfuMuT5OVgrVYCn
					nI8lwlokJKTBcfun7sX07u1qalOv1yGlbIuD
					0ZUqeuEcx8Ebb7yBZ555BkePHo2lC3TixNXA
					5Jzj7rvvxo4dO2IglstllEol5aSm8TEtDa3s
					EFcKL8DCW+8is4o1QgQBmCsA14dwfcDxIRou
					2EIDxmIDfKEJGwBHABe6KO1M7YEelOkMNEyB
					6X3bEawr4Ny5c5ibm1MpAjRPE0KoaQ59VqtV
					nD9/Hm+//TZmZmbaLEzJMbBtatQFRMuysH//
					fmzfvh1jY2OoVCqYmJhApVJRuSi5XE5Zd9IE
					JhONZIwEGJjjo/j0v616vA6v3kQZ+94q1tQd
					yASEiecNmMAZuYhzL/0e7OUXRpIal/zsBFwn
					EBljKJfL+NjHPob169ejXC4rEMfHx2NiNQlk
					WhqZaI2aPMS5vX/rh1iGq5S+bv691QDtBMhq
					wHU6xzAMfOhDH8KePXtQKBRinDg+Po5KpYJK
					pYJisRgTqf36R0dr2bmGRZYAAIyBGaEVQMr2
					mFIdxE7fO1EvQHsdwxjD9PQ07rzzTkxNTaFQ
					KKjxkLiQtmKxGGqqmmmuX2vTdWVr7Y9k61+T
					hfXpaOKIzqB1vEoKC0y3Y7oBODU1he3bt2Ni
					YkJZaXK5XCzlkD5zuRzsbKtEaa9UiV50AwMZ
					kYHQGiHCaQYRAUicOQpKa3ZzHAfvv/8+OOco
					l8ux1ARKT9ALDpqGqQAclG58IJWpLlKNDC0v
					RMsXIUD7yV8chKSUqsDD2bNnkclksHbtWuzd
					uxf79u2LvVQ0DfMDH0ZgqAQgqiB5zcZIoFdd
					nH5oiI4O6HwJGBGgvB1Q4MpW96D7eJ6Hixcv
					4t1338Wzzz6Le++9F5/5zGeU5SsJmJQyln11
					1aYfQBy8UXRNVM8DDMFAL4Z6DQIJFkjAACRj
					gMFjHHm1QKV7VatVHDlyBEePHsV9992Hv/nP
					f4OpW6ZaqzrkA2Xt6rd65OhSz2PfhwhkggSD
					RLwSVoJHOQCRLudDAkAAMEhACsiovqvan9Bu
					Rwmofm39Hr7v47nnnsOrr76Kz3/+83jggQdU
					4k4+n0c2l4Ud2MqVBawO5tDFIFQ5lGiqP1yt
					KiIBDgkOqaLA0xdoSbZRoyAaR4VU05TYsVdB
					1OrifWlpCU8++SR+97vf4fDhw9i4cWNYPdIr
					IMi3gs7SVI8cScxOp/JlaStf6VWv4udGzmBD
					T4Rrb3m3rmc99kEiTF3Xj79CIPYy59H22muv
					4atf/SpeffVVtcoDmQv1lR56BaMNzJGdKl+p
					KDVjkI7RE18kAhkWxTcYR5wbte+JYhDtV+rw
					awD1Ekg3ALPiysSgQVhpj+lkpCDufOyxx3D4
					8GHs3bs35lQgIkd9J84cWeUrXrKw5QufQKlY
					RNa2kclYMM3eGpcUEoEQEK4P4XoI/AC+46JZ
					raE6t4iluTmsXHoHeOdCVIKs/e4wok4J4gBy
					cIzzbDg/A6JXjWwGkfBnDBAM1voK8hNjMU0S
					aLndqIgThXbQikXdxtU0BohOgDYaDTz++OP4
					4he/iIMHD3bkQAIzqc2ObPph2Bls/st/h8nJ
					SWXJ71b5Siai35Iih+J2FhcXMXHyJJ7+7/8K
					KQQCIcKKWYGA0IsEApDJUi2cocwsGJLBlBwG
					C4snccnAeVQogodhIOxPPiqbJ1HZOK0cu8mY
					nqR7y3VdXLp0CTMzM3j77bfx3nvvwXXdNgPE
					alahpDLkeR5+8IMfYGxsDHv27FHHJNcYAeJg
					jrTyVaFQiJmf9JidbpR8K8nxS3OpYrEYPiR5
					LjgAFhYiFEKoeqwMiHlAmIQCMQMOU4SfHIAh
					OAwwMBGGSTIweCffhrlxHfL5fKu8mR137hKQ
					JPbWrl2rnOKu6+Ktt97C73//e8zNzann0esJ
					dHv+JHf6vo/vfve7+PrXvx4+C2NtsbfJSh9X
					pPIVRYStVn6rm4ee8gTJyUrXT77pjDHANAAZ
					cimkPo4CBuMwJYcVgWnBgImwuocBpkCED/Cq
					QPPYW7D/6laUSiWUy2XlkVAp5lKooDFyhhOI
					nudhYmICd911F06ePIljx46hWq3G2pqWOwGg
					Wq3iySefxFe+8pX4KkRmy0+pGwyuWOWrNL6/
					blYLIURs8bJe9wNC1YeZRljPPBCRLhRWhTQZ
					Q0YasMFhReXMDEQcCSiZwiUH/3+LqL94FvbD
					YVQbFUe0bVvdS88kJiDD9VJcuE4YVH3gwAHs
					27cPR48exbFjx9RYl8aArx9z/vx5/PznP8cj
					jzwSX+zNaC0ZRX19Q9lau3WE+p0zMGaoqQWP
					ODKDFkdmwBVXJrO0ODgafzwH8eC9yrhdLpcV
					V+pjZRJMKm+mL9340EMPoVKp4Omnn46BCaQX
					tc8//zw+/vGPx1b4IauPXpTihgJSp6SSoLif
					AcgYQBCG+pCSY4KrAoMhVybGeJoH13zM/fb/
					YuN/3aS8FoVCAZZtwTTCsptChkpXMpzTdV0U
					i0UF5MrKCj7xiU8AgAITWH26oj+P4zj49a9/
					jUcffVTVp+sE6A0LZC9inIGbHIbLwBhXVa8M
					IOJGwFTGP8R4k4Nh6YU34PzVX4BPT4ecYFvI
					5/KxooM6V+rRgBShV6vVVDThgw8+CCklnn76
					6b79pIwxHD9+HPfff3+s2hbpIIozr2iPXgNS
					sTmGAWOsoKon6ysYGJH5QrflhoHM0UoJKz7e
					/acX1VTD4K0ih8myZ/l8HsViUcWljo2NYawy
					homJCUxMTGDNmjWYmJjApz/9aVVMqR9DPU1J
					jh49ipWVFSW6G41GrGT2TQFkp8AqxhgKW6fD
					71LnOu28xKbcX5BYevV8q+aNCNQ1k0sFE1eQ
					tp7NZpHP5RWoenzOww8/3NbWXmDqHHvmzBkV
					6afXPqe0w5sCyE7EGIM9VQGfKAx0fu38JdRm
					F8N5ot8eka5TElwSfTSnpjid/fv3Y9OmTX27
					zqQMU9rn5+djRQdpRQLf929eIIGwg7PbIq5c
					5VipYoCiQExf4tKL/9bXyu/69Ms0Tdi2HSsP
					XiqV8NmHP6uO1c/r2i7N4nXq1ClVNJ+qR3p+
					KF5vSmWHiHMOc7IEv4txPUkUbk00d/Icgs8F
					Csy0ISL6XBqAmqY4joM9e/asOgXpRufOnYtx
					oy4tbmqOZIzByJhAbnVTYZIkJJy5pY6lxNLe
					mzEWqwSdy+UwMT6BcrkcOyZVe6TE0tKS4kQF
					ZKQx39RAErGCvfpBHchbrg91X13M6ubLqamp
					vtxl9AKRpqrEagTkTc+RNLbJfLolF5LkLdeH
					jrjTV0QnLffWW28FkH6cJHIcp2UWjMZGKkB4
					U4+RKj2uz8VfiPwhORJoAaRrtoO+HHqdcxG0
					QJRS3txAkpKCujNYgKUXRuENk/wDIDbdYIxh
					ZmZmoPha8rokF0ET8ibmSN13yOtuqnPixgIG
					nsvAzFqpvTlp6dKlSwOdp/tFY854cZNwpP5m
					66q953kQXoBs3YeE0TPJKB6bG4nDnB0rWDQo
					kHrHU/7lIOJVt/US0fz2pgBSJ/0hPc+DnK31
					FUWpG9KtQq5j0YhB2kPG9RdeeGHgMbJTORnO
					eegkGOiKNwBJGaaN4+Ji6nOSAdbF9bfE8hUH
					SbJJOqCfeuqpWBs7fe9GpVIpZquNAdp3y64z
					SnaGvvnzNbAlR+U+pyEFpgFM7tis5oCDcCRN
					fygl4NixYzh37lxbu9PS5ORkPOwjcnZzdgP7
					I1d7m6WUkDNVpOmvtuqRUTDZLXdti4VH9juJ
					1+sHOY6D73//+10DltPQ9PR0LARGjxIYKZB6
					QBKtstYvSdkqZUZzJn1fahISfNkFYKbKpG6L
					FshmcOu+D4eRAX3Wq9NBpOKIP/7xj/H666+r
					/f1yJOccGzZsiMfuRGCOJNRDeQ2iWE9qeLda
					dES9vAlUa4eCgun6yQ7o9P/oC+AjCmju3WG6
					j1KPlL/1ox/B2OR434UH9XBJ13XRdJo4cuQI
					Hn/88TZubGt3tzaysPAgRQXoYR6U5Tx0eRYG
					Fjp+okjplZUVtYhnmhVdk0RxrfV6XS0inTyu
					G6jRF8CPOitl3g9L/jGGbf9+v6qusdrUQ5kC
					ozaRUbvZbOKll1/C1772NSVZuoG5Gn3gAx+I
					ZT0niwaPrmCSCDN1OefwPA+5XG5VBaHbW0nR
					aPqcS+8o/fjYpwSYCNPQk2qc1D5b9YH0gMiI
					Nw0gO13Blvv3xJScpHRJvkhkLtPLsT3zzDP4
					xje+gUajASBeUasfMLPZLLZu3aoiECgAS49Q
					GIloZWCxWnS1Wk2tKN71vB5cRrkW9Xod8/Pz
					bWK4Y5UpIcH8eICyXqtHQCKIPltpJFLBCCAs
					C8qBj/ynT8GMouSJk3RDg+5oJnCCIIAf+PA9
					H++++y6++c1v4tixY7F5ZPK504DIGMMdd9zR
					CiOJig7qNQiG4shY1SsIyKgWHUWPraayJx+C
					fH4AVJVIWoqvk5YXcqBUIHZyHEsgAi/8DCDh
					Q0ThyfoTMIq8Qun2KWx7+M9bliEpYPBWzZ5u
					ZUo9z8PCwgJ+8Ytf4KmnnooVDB6EC4lKpRJ2
					7typlimmKDq9j0fEkeG/IhCYnZ2NDcT9OE3p
					kzqGxpiFhYXWPiHC6YSI0gNkZwCVAGUSQkr4
					CDcDIoqaE5H0jWJZmURgCDAu8MEvfkpJBNd1
					YxWMdTA8z8OFCxdw+vRpnDlzBq+88grefPPN
					mAjuBWJabrz77rtVYhHl1uhcSe0bkbIDyJqP
					5rOn4USFFzjrY+ohJZiQkIEEoiVwfdeF33Th
					NpcgHV9zRUV68iohNAIS76EGwwgDkw0ZphBQ
					7VbGwswsMERZ0Qxjm9Zi9viz4Cf/T2wyT/VZ
					l5eXsbKyopJQO0UNdAKsq2LWgxgLi/Ju27Yt
					Fm6plznTl5QY2RjJECD3WmjVH9ZHEEACEBAQ
					4HDb7U9dphV6zI0QEvNohqsK0K/RKUwmsqAl
					A0wOc6YO9sz5vtraazoxCBcSTUxMYP/+/QpA
					2lSRpUhrpfyPEdeio//HvQn9nEu/rV5UcPUr
					I5IWiF62+D2ZujJjgGEaA03Uge4KTL9cSJTL
					5XDw4MEYgMl6rsmadVfMRHfN69JpJLV/W4BG
					7TM4uBVaf6RIVyWrFyjdRG1ayufzOHToEKam
					plQ8LJUBLRaLHbkRuBndWNBEpiEjq4AuiFtT
					FGYwcMtQwwOQvuNXO24Qzi4UCjh06BCmp6dV
					1UgqPFgqlZSSk+RGKW8Sx3JPSjCggtFkYU4l
					7R6g43Ua5nzGwkKEBw8eVIV4O9VzpVxNKjNO
					3CiEgEmiRF9HEYAyvV2XpBVMSlrhWtxIXyIe
					1Q7klqGKJg0L4LDEOccdd9yBPXv2oFgMV1Af
					Hx+P1XItl8sxbtQTXGlcN+linPPQWpDJaJ6A
					mKC6atRyKcnUShOAtirKbdc1GJjBY5WvrhUx
					xlCpVHDPPfdg48aNqp5rpVJpA5HquSZrGgAt
					y5JJIXoqXSybVZ3Hwa8ZV/Lo7h1LmIUHtL1j
					XSFnYWq6PrEfVSBVv8QYQzabxa5du7Bjxw6V
					lqdS8qKNqirrRXn1lXl08n0/FK3kGsnlcsjn
					cuDgke3j6otYgi1ZwqzVDr1FLfGqX0H/ygyj
					dY1rCB4Qmtu2bduGO++8M5wP5nMoFoqqirJe
					UTlWmFfjRN2dRkaLqOaCCTNjIpfLhW9FeQyU
					hg1cq2mEBIcIuZLzWAHBGHdKhJPA+KlgZhiQ
					dC1EaPJl4Zxj3bp12LFjBzZt2hQmyOayKORb
					pWxIfNIngWxbdhuInV7GIAhC0WpbYZ68lBLV
					8XEYFg8LE8lrNEYyAJJBcBaVMIsAVApO+CmB
					ELio4mNYh6e9vVeTExkLVxRYu3YtNmzYgNtu
					u02loOseDL0mEYFHHEgmuGTgV/I59FWNTMq2
					JSqViuCcQ7L+zUqjIwlhGLBsC1kDYMuh2sMN
					GfqZSAtlaOfIK0R6trKe1JpUUiYnJ5U3O4oG
					AAABR0lEQVQvlrKw9ORX8mIQmPRdr31OfkYC
					r5cXiTxGzPd9SQ5RPZ2Z4m5U2P0V7KBOjaP2
					kJG6Wq2qEtOU7ElOXFJe+knrHrSd+vWpo/VE
					HfpOHEUZWJZlIZvLIpdtLS1InKpba1bjQp30
					VfNMGjzpAmTt7zcfcJREDXQcR4kkqg1XLBZR
					r9dVapkenAVcWTHaaWl5FWoRdT71o76Ypx6e
					EQM24enXpxZpa5orW6ueLi2EgGEMbjweFdGL
					1Gw21RtLb3GtVlOr2ulpZVeDktyoA5vkSAKG
					pg3k0dc5VT9Ofyn6eRnbvB+ryeKrSSQZ9A6i
					MSeXy8F1XbUomh5ZcCUpGdvaySJGczx9CXo9
					wDkWY6P5EgcBUCfTNK9PW6s+7hBRJ2Wz2Vim
					7tXixmT7dM+DzpWxgn+mAdMwY0qSvr8fEdqJ
					lOfDNPH/AeW+FDeVduAVAAAAAElFTkSuQmCC
					</data>
					<key>LogoFilename</key>
					<string>Bbarolo_ico</string>
					<key>LogoUsed</key>
					<true/>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>mystile</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PublishingDestinations</key>
					<array/>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>SloganText</key>
					<string>A 3D fitting tool for the kinematics of galaxies</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Reason</string>
					<key>TitleText</key>
					<string>3D-BAROLO</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>1B083C11-CFAA-4061-8579-44411D870599_rwbackup</string>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>cacheBustingString</key>
					<string>?rwcache=497440994</string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string>&lt;script&gt;
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63460922-1', 'auto');
  ga('send', 'pageview');

&lt;/script&gt;</string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>minifyExtraFiles</key>
					<false/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<false/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
