<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>BBarolo - Downloads Binaries</string>
				<key>CreatedDate</key>
				<date>2015-05-26T11:00:44Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Binaries</string>
				<key>PluginClassName</key>
				<string>RWFileSharingPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>File Sharing</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/edt/GitHub/BB/Bbarolo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-11-06T23:23:17Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lNupcy9yr6jW
								bGg+rruFtQ==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>downloads/binaries</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
