<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Changed</key>
				<true/>
				<key>ColourStyles</key>
				<dict>
					<key>Bravo</key>
					<dict/>
					<key>Patchy</key>
					<dict/>
					<key>Reason</key>
					<dict/>
					<key>Veerle</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitleUsed</key>
				<false/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string></string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>source</string>
				<key>HasCustomThemeStyle</key>
				<false/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>SidebarTitle</key>
				<string></string>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Birthday</key>
					<array>
						<string>Font Family.Comic Sans</string>
						<string>Styles.Boy</string>
					</array>
					<key>Blog</key>
					<array>
						<string>Header.Center</string>
						<string>Sidebar.Right</string>
						<string>Styles.Blue</string>
						<string>Width.Default Width (780px)</string>
					</array>
					<key>Blog Pop</key>
					<array>
						<string>Header.Center</string>
						<string>Sidebar.Right</string>
						<string>Styles.Blue</string>
						<string>Width.Default Width (780px)</string>
					</array>
					<key>Bravo</key>
					<array>
						<string>Sidebar.Left</string>
						<string>Width.750px</string>
					</array>
					<key>Business</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Blue</string>
						<string>Width.Default Width (780px)</string>
					</array>
					<key>Patchy</key>
					<array>
						<string>Font Style.Serif</string>
						<string>Sidebar.Hidden</string>
					</array>
					<key>Realmac Software '05</key>
					<array>
						<string>Colors.Aqua</string>
						<string>Header.Aqua</string>
						<string>Sidebar.Right</string>
					</array>
					<key>Reason</key>
					<array>
						<string>Background.Wood</string>
						<string>Banner Height.400px</string>
						<string>Banner Image.Banner 1</string>
						<string>Header Opacity.0.4</string>
						<string>Max Width.1000px</string>
						<string>Navigation Opacity.0.4</string>
						<string>Sidebar Position.Bottom</string>
						<string>Text Size.Medium</string>
					</array>
					<key>Urban</key>
					<array>
						<string>Header.Industrial Buildings</string>
						<string>Sidebar.Right</string>
					</array>
					<key>Veerle</key>
					<array>
						<string>Font Style.Sans Serif</string>
						<string>Header Height.267 px</string>
						<string>Header.Landscape</string>
						<string>Photo Borders.None</string>
						<string>Width.860 px (default)</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
