<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<true/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>6.0</string>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://demo.yuzoolthemes.com/split/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2014 RapidWeaver + Yuzoolthemes</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DefaultExportPath</key>
					<string>/Users/enrico.diteodoro/Desktop/untitled folder</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.html</string>
						<string>index.htm</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>hello@yuzoolthemes.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoData</key>
					<data>
					iVBORw0KGgoAAAANSUhEUgAAAM4AAAA3CAYA
					AABEgnUVAAAJu0lEQVR4Ae1dXWxURRSeaSml
					LVhK+atQaRss8oBgLA/+QGI0xETUFwOBJ0iM
					GnhEfCAxlEcRfJMALzU8SNAnLYkPhiiVBB4a
					5ScRKLEUKFhbKKWl/z/jd267y+525u69d+/d
					vbt7Jjm9e8+cOXPOt/d0fu7MrBQuk1JqDorU
					gV4HvQZ6CVQOiqR7+HATdB50SQj5UEqhIpl8
					ZQRyAQHpyAmlCvDkfwTZr0A1jsrEC53F7QEp
					5bV4tr93rUqVvirENmgdSlHzA5TvBHXD5lR1
					uTLF4EMplJyCLVOulKVBOAh7DTrT4I2jKui7
					OJ1UEi3MHpBP6QnpWZe0Uo8C15Wq8cnQRDWX
					wdgFWuDRNMfFzD501jtWkkbBIOw160z8WjJ1
					f62xwIQxTFrSiz/I/9Yk457/HBW5qlTf9+7L
					Ji+xSojx5FKeJNajVBOoX6lRCqIlnrQ4KGT2
					YcWYg+JpFwnCXrPOtLtnqLBsUBs440q9iRLd
					FYZiqbPLdyj14DHCUlt/6vqD1DCXgqhbqbET
					QdbCusONwKwHt1Opeoz+/0hu9gSJtIC+AG0H
					bQJ9ADqKf/t9uCZJVQuF6JpE8NBkQxamok+U
					eoTGp5X6vJx8ROCOEEU+qgtEVfxDixkzdKZo
					Rswu0UD/MymL7huEmsH/HE8UjQcOgvYZ5MBe
					BrpxCxNztWYZX3KuQAvN9iVL1RBAT0EgqJ2k
					RRAaH0TwF2LmMHQDdycehFFmrRB38G/5dKEQ
					qYwp6buk3kFCGsc/9aILCUw3twiR52/EFehQ
					qhkPvCFZA/uauAIObqCs9IFS6JbpEto35DtQ
					40hkSKkVulqUOrfCkYIZIegoAC0B7Roz2h5b
					U/t5N/rtZM0+qBq7cpnKC7O9NEafnf7Z4ytW
					NgCgbnrAUxuPdClFg+qY5P8EgY0PKT10MLph
					OMZy/cexBj++kKB88MM2nY7Q2ot/fpjJ0aT2
					/To/3PKiY5xOIY7rC4+A3VWWaldkuZQbOp5V
					sF3KhTuf3Yb7E96ftJYIUfBYCOryGVL7j4YM
					ZmcGAWWNwgOqe3qMo5RcLMRWfR33d0vZ4MtL
					wBoh5qGO5/Ag9ujrCjFXSoURzQZqe/X9vlV4
					hySK8Q9mNMResGk+IWC1OBidL9ZPPfejmtWn
					fKpLIGBGszJo4gFYE38buaP/CWOBvdyN1MLX
					cCBgBQ6mkWgmSZMen021i6ZRmtWslVK2YXrO
					0GXrfCurnWPjHSNgBQ7GN4YvfPIXx5rySHBc
					iJN6d6dW6/nMzTUErMDBhPdfese6fZmB0OvO
					Xu58Idr01hdu0fOZm2sIWIFjdqrmmDkvf3Mw
					8jN01Qqf5C8q+eW5FTjos7+id/uJvy+L9JVk
					HbdciPf0Rg8hi1M+IGAFDpY2XNQ7Oz3Fqs/L
					X+5TIQyro+dyC50nj4UVOFivblifRlOsd5vy
					BAvHbgKVA46FWTAnEbAC50W8kPzP6F41tgCo
					bcbsPMu4BSyqjItAa3n1QJ48D1bgkK8Y8Npt
					Bz2j1MiRPMHE6OZPWPG9UogzegF6WSzv6vOY
					m2sIRAPnuhCf2jtXvE+ph7TK2dC/ty+d7bnw
					uwZzzf3UedWnrtP8sliPTC5yo4HzoZQDHUIc
					sneykvapYPejtf0giwIofvuEvY/xufB1wYRS
					tNX7tjloaDnhwMfxJfkulxGIBg45WStlI/oa
					2OiTNNGCUATQILVA20DFSUtkVKDa0YYo+CFB
					paB60B7QbZjdj1nHHfbm9+71ayGsfT2cGxYE
					pldHx1iDRWuVD4V4VGkcAMcIi1Jqgaw+Px4y
					ein4JegcFnL6spo6tqbUPpfhgBCVmgpj6VtX
					pKznaWgjPrmZEdfiWC7i7K7FUlbgFbjdZIEO
					jfVg/gzCVmJrx+d+XH3b3amrMPO8YYxr6jdk
					3g62IN0IzA6cGQsWSrkTH18e8GYRtUSHQRRE
					50H6LSzedIegFG3uExulLCWMOOUhAsbAISzQ
					5bpGu87wcSN2Z3UQz0PajDLY/xXseWQe7PJQ
					xAoY7F4tASqy1YMCLpIjCNgGTsRHekjmSVmL
					ezpR8JD1+EQyHV8j55FNZtGKa2vzbQtc3A1a
					OhMwPzh2mQVzFoFZkwN2niKAqOfWSITuF01H
					70UQHTRP00JiVio4rNS/m6Wsen9WVnAMOu/t
					AsiJvxQtaGDFCI7A4iOfAASngBCgIALtT34S
					DKSiqaPZb3PMJ64MZc0Yy+wDHw/l6nnBqwX9
					8VA+n3LjyqgEYbREPaCvqeePLKxKEWcTRDS3
					q7ai5UlTt60k9CdDagBiVogRcDTGcWM/Yuc+
					iLphSweTTigsR7cte1oDNziwbG4j4HvgROBC
					8PTMn55Q2Bvh6a/dx/V85jIC4UUgsMCJuIwA
					OoZlBDbBU4Eum6NBe0QlXxmBjCMQeOCQhzgG
					9BgWfbXovaUZ7qdr9XnMZQTCiUBaAodcrxNi
					i/VWRItD97taNjMZgZAikLbAwTKEURwKYmh1
					QooOm8UIGBBIX+DAAKxPNuyeNFjHbEYgpAik
					NXBCigGbxQi4RoADxzVkXIARwG++pBMELCso
					S2d9XBcjEBQC2sDBcjIniyFd24QtyIbzyKov
					ulbGBRiBDCIQHzgImAH85KAQvfjFdn9bI2zI
					qX9Bux2bNikUXcogBlw1I+AagWjgoJVZh5+v
					GJ9v/VLvIii6+6drbaYCWKmKJuymPvse9uwL
					8ysefSHmMgIZRcAKHATNEVhxNb5/Vr1eqS46
					Finl1C3E7/TD7PpUyqeE6oFhbogRKGjHPhrY
					t09v4zIcf9uHMwM8dtvwy7/YE3EZO95o+7Qm
					3W6RcmWbJoNZsxAYRoeAU1gQmFMnxNEuHKxh
					bhHK8dCPT2L4g+3D8pTT0yrRir2D/tev8a1Y
					rNt0ZGzd27Ec/myHQMkbwPQ3SMy1k/KaR9tB
					vJbNx3JzsBRmarlS8/AYj5hP7bMe/ya8+29C
					60PHRn0D+hs0DMDxfSrawEZfaBVoFwLmIK5J
					ljwPrOGxDaHkOAW46mJC4HstdPpP0bHFOSw4
					3SBgHVmbUmX1OM7JHDxRFHbgE5GVEDSRj9Gr
					uZWJiExs4i5aBIswXLHxg5MrBKKzag04fRML
					/Iv6ku7adKU/QbiX7nFaTNGFhAy+ZQSyCoFo
					4FhWSzlRMb1rE+MZ39MhKSvRs5M9vmtmhYyA
					BoHkPR9NIYes+MCZKYSH+zsMWvCiX2xHI45G
					KKV0EqWxl002pqTFQWGMbscciIVapESIofS/
					1PJeo9nezM8C6jugU+n7x41xzAIQ/SpBM5YU
					JEv0CwYnQA0gmjTgxAjkHAKeHmwEBLVUdA5h
					MWg05opD/OQU7jkxAjmNwP/YaSC1u9UVOQAA
					AABJRU5ErkJggg==
					</data>
					<key>LogoFilename</key>
					<string>logo@2x</string>
					<key>LogoUsed</key>
					<true/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Split</string>
					<key>TitleText</key>
					<string>Split Navigation for RapidWeaver 6</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>QuickLook</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
